.projectWrapper {
  width: 50%;
  box-sizing: border-box;
}

.fullWidth {
  width: 100%;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonWrapper {
  margin: 5px;
}

.project {
  height: 420px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: background-color 0.3s ease;
  align-items: center;
}


/* src/components/Project/Project.module.css */
.projectLogo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectLogo svg {
  width: 100%;
  height: auto;
  overflow: visible !important; /* Override any problematic overflow */
}

.projectTitle {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 300;
}

.projectText {
  text-align: center;
  font-size: 1.05rem;
  padding: 0 20px;
}

.buttonWrapper {
  text-align: center;
}

.projectButton {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .projectWrapper, .fullWidth {
    width: 100%;
  }
  
  .buttonRow {
    flex-direction: column;
  }
  
  .project {
    height: 450px;
  }
}
