body {
  
}

.footer {
  padding-top: 40px;

}

.top-bar__logo {
  margin-left: -50px;
}

.top-bar__button {
  background-color: #FFAA00;
  &:hover {
    background-color: darken(#FFAA00, 5);
  }
}

.divider--blue {
  background-color: #233946;
}

.divider--yellow {
  background-color: $sc-yellow;
}

.main-menu {
  box-shadow: none!important;
}
