.splash-page {
  margin: 0;
  padding: 0;
  margin-top: -50px;
  .panel-links {
    &:hover {
      text-decoration: none;
    }
  }
  .panel {
    height: 390px;
    color: white;
    background-repeat: no-repeat;
    position: relative;
    @include breakpoint($small-only) {
      height: 450px;
    }
    &__logo {
      width: 100px;
      display: block;
      margin: auto;
      padding-top: 70px;
      @include breakpoint($small-only) {
        padding-top: 50px;
      }
      &--bottom {
        padding-top: 60px;
        @include breakpoint($small-only) {
          padding-top: 50px;
        }
      }
      &--bottom-100 {
        width: 150px;
        padding-top: 80px;
        @include breakpoint($small-only) {
          padding-top: 50px;
        }
      }
      &--bottom-covid {
        width: 100px;
        padding-top: 70px;
        @include breakpoint($small-only) {
          padding-top: 50px;
        }
      }
    }
    &__title {
      font-size: 1.8rem;
      display: block;
      margin: auto;
      text-align: center;
      font-weight: 300;
      padding-top: 15px;
    }
    &__text {
      text-align: center;
      font-size: 1.05rem;
      @include breakpoint($medium) {
        padding-left: 20px;
        padding-right: 20px;
      }
      @include breakpoint($touch) {
        padding-left: 130px;
        padding-right: 130px;
      }
      @include breakpoint($large) {
        padding-left: 130px;
        padding-right: 130px;
      }
      @include breakpoint($small-only) {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
    &--top-left {
      background-color: $sc-blue;
      @include breakpoint($small-only) {
        height: 440px;
      }
      &__text {
        position: absolute;
        text-align: right;

        @include breakpoint($medium) {
          top: 60px;
          right: 60px;
          padding-left: 50px;
        }
        @include breakpoint($large) {
          top: 80px;
          right: 100px;
          padding-left: 190px;
        }
        @include breakpoint($small-only) {
          padding: 5px;
          padding-top: 100px;
          text-align: center;
          position: static;
        }
        h3 {
          font-size: 1.8rem;
          padding: 0;
          margin: 0;
        }
        p {
          font-size: 1.05rem;
          @include breakpoint($small-only) {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
    &--top-right {
      background-image: url('../images/corruption-bw.jpg');
      background-size: 110%;
      background-color: $green;
      background-blend-mode: multiply;
      &:hover {
        background-color: #FFAA00;
      }
      @include breakpoint($small-only) {
        background-size:cover;
      }
      @include breakpoint($medium) {
        background-size:cover;
      }
    }
    &--bottom-left {
      background-image: url('../images/zika-bw.jpg');
      background-color: $aqua;
      background-blend-mode: multiply;
      background-size: 132%;
      background-position: 65% 30%;
      &:hover {
        background-color: #FFAA00;
      }
      @include breakpoint($small-only) {
        background-size:cover;
      }
    }
    &--bottom-right {
      background-image: url('../images/cotopaxi-bw.jpg');
      background-color: $red;
      background-blend-mode: multiply;
      background-size: 145%;
      background-position: 65% 10%;
      &:hover {
        background-color: #FFAA00;
      }
      @include breakpoint($small-only) {
        background-size:cover;
      }
    }
    &--bottom-left-100 {
      background-image: url('../images/100q-bg.jpg');
      background-color: #0E4365;
      background-blend-mode: multiply;
      background-size: 145%;
      background-position: 65% 10%;
      &:hover {
        background-color: #FFAA00;
      }
      @include breakpoint($small-only) {
        background-size:cover;
      }
    }
    &--bottom-right-covid {
      background-image: url('../images/covid-bg.png');
      background-color: $pink;
      background-blend-mode: multiply;
      background-size: 145%;
      background-position: 65% 10%;
      &:hover {
        background-color: #FFAA00;
      }
      @include breakpoint($small-only) {
        background-size:cover;
      }
    }
  }
  
  .methodology {
    &__img {
      @include breakpoint($small-only) {
        display: block;
        margin: auto;
      }
    }
  }
  // .partners {
  //   .column {
  //     text-align: center;
  //     padding: 40px;
  //     img {
  //       max-height: 100px;
  //     }
  //   }
  // }
}

.partners {
  .img-container {
    padding: 30px;
    @include breakpoint($small-only) {
      padding: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    text-align: center;
    img {
      border: solid;
      border-color: transparent;
      @include transition;
      opacity: 0.7;
      &:hover {
        @include transition;
        opacity: 1;
      }
    }
    &.text {
      padding-top: 40px;
    }
  }

  a {
    &.sm {
      img {
        max-width: 70%;
        @include breakpoint($small-only) {
          max-width: 100%;
        }
      }
    }

    &.m {
      img {
        max-width: 60%;
        @include breakpoint($small-only) {
          max-width: 88%;
        }
      }
    }

    &.mm {
      img {
        max-width: 80%;
        @include breakpoint($small-only) {
          max-width: 100%;
        }
      }
    }

    &.m-lg {
      img {
        max-width: 45%;
        @include breakpoint($small-only) {
          max-width: 65%;
        }
      }
    }

    &.lg {
      img {
        max-width: 35%;
        @include breakpoint($small-only) {
          max-width: 45%;
        }
      }
    }

    &.text {
      font-size: 1.5rem;
      font-weight: bold;
      opacity: 0.7;
      line-height: 95%;
      @include breakpoint($medium-only) {
        font-size: 1.2rem;
      };
      @include breakpoint($small-only) {
        font-size: 1.3rem;
      };
      &:hover {
        @include transition;
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.sticky {
  background-color: rgba(0, 0, 0, 0.8);
  .sticky__title {
    font-size: 1.2rem;
  }
  p {
    font-weight: 400;
  }
  img {
    float: left;
    width: 100px;
    margin-right: 40px;
  }
}
