<footer class='footer'>
  <div class="row expanded footer--darken">
    <div class="column large-4">
      <h5>Sections</h5>
    </div>
    <div class="column large-4 partner-no-show">
      <h5>About</h5>
    </div>
    <div class="column large-4 partner-no-show center">
      <h5>Partners</h5>
    </div>
  </div>
  <div class="row expanded align-center">
    <div class="column large-4 small-12">
      <nav class="footer__nav">
        <a href="http://anticorruption.smartercrowdsourcing.org/">Anti-Corruption</a>
        <a href="http://zika.smartercrowdsourcing.org/">Zika</a>
        <a href="#">Cotopaxi</a>
        <a href="{{ '/about.html' | absolute_url }}">About</a>
      </nav>
    </div>
    <div class="column large-4 small-12">
      <h5 class="title-display">About</h5>
      <p>Smarter Crowdsourcing is a 4-month process which combines rigorous problem definition, research and curation with crowdsourcing to attract diverse, inter-disciplinary, actionable ideas from global experts.</p>
    </div>
    <div class="column large-4 small-12" style="text-align:center">
      <h5 class="title-display">Partners</h5>
      <a class="e-partner-logo e-partner-logo--other" href="#" tagret="_blank"><img src="images/govlab-logo-white.png" alt="The GovLab"></a>
      <a class="e-partner-logo e-partner-logo--other e-partner-logo--other__btm-logo" href="https://www.usaid.gov/" tagret="_blank"><img src="images/partners/usaid.png" alt="USAID"></a>
      <a class="e-partner-logo e-partner-logo--other e-partner-logo--other--lg e-partner-logo--other__btm-logo" href="http://www.linqlabs.com/" tagret="_blank"><img src="images/partners/linq-white.png" alt="Linq Labs"></a>
    </div>
  </div>
</footer>
