<header class="top-bar top-bar--transparent">
    <span class="top-bar__button js-trigger-menu">menu</span>
    <nav class="main-menu js-target-menu main-menu--left">
      <a href="http://anticorruption.smartercrowdsourcing.org/">Anti-Corruption</a>
      <a href="http://zika.smartercrowdsourcing.org/">Zika</a>
      <a href="#">Cotopaxi</a>
      <a href="{{ '/about.html' | absolute_url }}">About</a>
    </nav>
    <a class="top-bar__logo" href="{{ '/index.html' | absolute_url }}"><img src="{{site.url}}{{site.baseurl}}/images/govlab-logo-white.png" alt="The GovLab"></a>
    <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
    <nav class="main-menu js-target-menu main-menu--right">
      <a href="#">Github Repository</a>
      <a href="{{site.url}}{{site.baseurl}}/sandbox.html">Sandbox</a>
    </nav> -->
  </header>
