<header class="top-bar top-bar--transparent">
    <span class="top-bar__button js-trigger-menu">menu</span>
    <nav class="main-menu js-target-menu main-menu--left">
      <a href="{{ '/' | absolute_url }}">Home</a>
      <a href="{{ '/about.html' | absolute_url }}">About</a>
      <a href="http://anticorruption.smartercrowdsourcing.org/">Anti-Corruption</a>
      <a href="http://zika.smartercrowdsourcing.org/">Zika</a>
      <a href="http://cotopaxi.smartercrowdsourcing.org/">Cotopaxi</a>
      <a href="mailto:info@thegovlab.org">Contact</a>
    </nav>
    <a class="top-bar__logo" href="{{ '/index.html' | absolute_url }}">
      <img id="govlab-logo" src="{{site.url}}{{site.baseurl}}/images/the-govlab-logo-white.svg" alt="The GovLab">
      <img src="{{site.url}}{{site.baseurl}}/images/burnes-center-logo.png" alt="The GovLab"></a>

    <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
    <nav class="main-menu js-target-menu main-menu--right">
      <a href="#">Github Repository</a>
      <a href="{{site.url}}{{site.baseurl}}/sandbox.html">Sandbox</a>
    </nav> -->
  </header>
